<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0">
    <title>脚本-refresh</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <style>
        body{padding: 0;margin: 0;outline-style: none;}
        #app{padding-right: 30px;box-sizing: border-box;width: 100vw;height: 100vh;position: relative;display: none;}
        .active{display: block!important;}
        /* tabbar */
        .tabbar{
            position: absolute;
            top: 0;left: -25px;
            cursor: pointer;
            width: 50px;height: 100%;
            border-radius: 50%;
            /* background-color: #409EFF; */
        }
        .tab-item{
            position: absolute;
            top: 50%;z-index: 1000;
            transform: translate(-100%,-50%);
            transition: all .5s;
        }
        .tab-item>div{width: 60px;height: 60px;}
        .tab-item>div:not(:first-child){margin-top: 20px;}
        .tab-item>div .el-button{
            width: 100%;height: 100%;
        }
        .tab-active .tab-item{transform: translate(100%,-50%);}
        
        /* content */
        .cont-box{
            width: 100%;
            box-sizing: border-box;
            display: flex;
            justify-content: start;
            flex-wrap: wrap;
        }
        .cont-item{
            margin-left: 30px;
            margin-top: 30px;
            min-width: 300px;
            min-height: 150px;
            position: relative;
        }
        .cont-item .el-card{width: 100%;height: 100%;}
        .el-badge__content.is-fixed {
            position: absolute;
            top: 0; right: 0;
            -webkit-transform: translateY(-50%) translateX(100%);
            transform: translateY(-50%) translateX(25%);
        }

        /* dialog层 */
        .el-select{
            width: 100%;
        }

        /* 消息提示 */
        .alert-box{
            width: 100vw;
        }
    </style>
</head>
<body>
    <div id="app">
        <div class="alert-box">
            <el-alert title="友情提示" description="鼠标滑到最左边拉起导航，点击知道了关闭提示" type="info" close-text="知道了"></el-alert>
        </div>

        <!-- tab -->
        <div class="tabbar" :class="tabBool ? 'tab-active':''" @mouseover="overFun($event)" @mouseleave="leaveFun($event)">
            <div class="tab-item">
                <!-- <div><el-button type="primary" circle icon="el-icon-house"></el-button></div> -->
                <div><el-button type="primary" circle icon="el-icon-plus" @click="handleAddClick"></el-button></div>
                <!-- <div><el-button type="primary" circle icon="el-icon-paperclip" @click="handleHelpClick"></el-button></div> -->
            </div>
        </div>

        <!-- content -->
        <div class="cont-box">
            <div class="cont-item" v-for="(item,i) of formArr">
                <el-badge :type="item.start?'danger':'warning'" :value="item.start?'Start':'End'" class="item">
                    <el-card class="box-card">
                        <div slot="header" class="clearfix">
                            <el-button-group>
                                <el-tooltip class="item" effect="dark" content="开始/结束" placement="top">
                                    <el-button circle size="medium" type="primary" plain :icon="item.start?'el-icon-video-pause':'el-icon-video-play'" @click="handleSwitchClick(i)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="查看视图" placement="bottom">
                                    <el-button circle size="medium" type="primary" plain icon="el-icon-view" @click="handleViewClick(i)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="编辑修改" placement="top">
                                    <el-button circle size="medium" type="primary" plain icon="el-icon-edit-outline" @click="handleCompileClick(i)"></el-button>
                                </el-tooltip>
                                <el-tooltip class="item" effect="dark" content="删除启动项" placement="bottom">
                                    <el-button circle size="medium" type="primary" plain icon="el-icon-delete" @click="handleDeleteClick(i)"></el-button>
                                </el-tooltip>                       
                            </el-button-group>
                            <el-tooltip class="item" effect="dark" content="已刷新次数" placement="left">
                                <el-button style="float: right;" size="medium" type="primary" plain :icon="item.start?'el-icon-loading':''">{{item.num}}次</el-button>
                            </el-tooltip>
                        </div>
                        <div class="text item">
                            <el-tag size="mini" effect="light" v-for="(itemChild,j) of item.url" :key="j">{{itemChild}}</el-tag>
                            <el-tag size="mini" effect="light">{{item.type==1?'自动刷新':'次数刷新'}}</el-tag>
                            <el-tag size="mini" effect="light">共{{item.type==1?' ∞ ':item.value}}次</el-tag>
                            <el-tag size="mini" effect="light">{{item.time}}ms/次</el-tag>
                        </div>
                    </el-card>
                </el-badge>
            </div>
            

            <div class="cont-item" v-if="formArr.length<=0">
                <el-card class="box-card">
                    <div class="text item">
                        暂无启动项(请添加启动项)
                    </div>
                </el-card>
            </div>
        </div>

        <!-- 添加弹框 -->
        <el-dialog title="添加启动项" :visible.sync="dialogVisibleAdd">
            <div>
                <el-form :model="inputObj" label-width="80px">
                    <el-form-item label="输入URL">
                        <el-select v-model="inputObj.url" multiple filterable allow-create default-first-option placeholder="请输入正确的URL(可多个)">
                        <!-- <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option> -->
                        </el-select>
                    </el-select>
                    </el-form-item>
                    <el-form-item label="刷新间隔">
                        <el-select v-model="inputObj.time" placeholder="ms/次" :disabled="inputObj.start">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="刷新方式">
                        <el-radio-group v-model="inputObj.type" :disabled="inputObj.start">
                            <el-radio :label="1">自动刷新</el-radio>
                            <el-radio :label="2">次数刷新</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="自动刷新" v-if="inputObj.type==1">
                        <el-input value="自动刷新点击结束才能结束" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="次数刷新" v-if="inputObj.type==2">
                        <el-slider v-model="inputObj.value" show-input :min="1" :max="1000" :disabled="inputObj.start"></el-slider>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
                <el-button type="primary" @click="handleConfirmClick">确 定</el-button>
            </span>
        </el-dialog>

        <!-- 编辑弹框 -->
        <el-dialog title="编辑修改" :visible.sync="dialogVisibleCompile">
            <div>
                <el-form :model="compileObj" label-width="80px">
                    <el-form-item label="输入URL">
                        <el-select v-model="compileObj.url" multiple filterable allow-create default-first-option placeholder="请输入正确的URL(可多个)">
                        <!-- <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                        </el-option> -->
                        </el-select>
                    </el-select>
                    </el-form-item>
                    <el-form-item label="刷新间隔">
                        <el-select v-model="compileObj.time" placeholder="ms/次">
                            <el-option
                                v-for="item in options"
                                :key="item.value"
                                :label="item.label"
                                :value="item.value">
                            </el-option>
                        </el-select>
                    </el-form-item>
                    <el-form-item label="刷新方式">
                        <el-radio-group v-model="compileObj.type">
                            <el-radio :label="1">自动刷新</el-radio>
                            <el-radio :label="2">次数刷新</el-radio>
                        </el-radio-group>
                    </el-form-item>
                    <el-form-item label="自动刷新" v-if="compileObj.type==1">
                        <el-input value="自动刷新点击结束才能结束" :disabled="true"></el-input>
                    </el-form-item>
                    <el-form-item label="次数刷新" v-if="compileObj.type==2">
                        <el-slider v-model="compileObj.value" show-input :min="1" :max="1000"></el-slider>
                    </el-form-item>
                </el-form>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisibleCompile = false">取 消</el-button>
                <el-button type="primary" @click="handleSaveClick">保 存</el-button>
            </span>
        </el-dialog>

        <!-- 视图弹框 -->
        <el-dialog v-for="(item,i) of formArr" :key="i" title="视图展示" :visible.sync="item.bool">
            <div>
                <iframe :class="`iframe-no${i}`" v-for="(url,j) of item.url" :key="j" :src="url"></iframe>
            </div>
        </el-dialog>
    </div>
    <script>
        window.onload = function(){
            document.querySelector('#app').classList.add('active')
        }

        new Vue({
            el: '#app',
            data: {
                dialogVisibleAdd:false,     // 添加弹框
                dialogVisibleCompile:false, // 编辑弹框
                tabBool: false, // tab显示隐藏 true-显示 false-隐藏
                tabTimer:null,  // tab定时器
                options: [{     // 刷新间隔下拉
                        value: 300,
                        label: '300ms/次'
                    },{
                        value: 500,
                        label: '500ms/次(推荐)'
                    }, {
                        value: 800,
                        label: '800ms/次(推荐)'
                    }, {
                        value: 1000,
                        label: '1000ms/次'
                }],
                formArr: [
                    { 
                        url: [      // 刷新URL
                            'https://paimai.jd.com/album/522577',
                        ],
                        bool: false,// 是否显示视图
                        type: 1,    // 刷新状态 1-自动刷新 2-次数刷新
                        value:1,    // 次数刷新总数
                        time:500,   // 刷新时间间隔
                        timer:null, // 刷新计时器对象
                        num:0,      // 当前刷新总数
                        start:false // 是否开始
                    },
                ],
                inputObj:{ 
                    url: [],    // 刷新URL
                    bool: false,// 是否显示视图
                    type: 1,    // 刷新状态 1-自动刷新 2-次数刷新
                    value:1,    // 次数刷新总数
                    time:500,   // 刷新时间间隔
                    timer:null, // 刷新计时器对象
                    num:0,      // 当前刷新总数
                    start:false // 是否开始
                },
                compileObj:{},  // 编辑对象
                compileIdx:null,// 编辑索引
            },
            methods: {
                // tab移入触发事件
                overFun($event){
                    clearTimeout(this.tabTimer)
                    this.tabBool = true
                },
                // tab移出事件
                leaveFun($event){
                    this.tabTimer = setTimeout(() => {
                        this.tabBool = false
                    }, 1500)
                },
                
                // 添加弹框方法
                handleAddClick(){
                    this.inputObj = { 
                        url: [],    // 刷新URL
                        bool: false,// 是否显示视图
                        type: 1,    // 刷新状态 1-自动刷新 2-次数刷新
                        value:1,    // 次数刷新总数
                        time:500,   // 刷新时间间隔
                        timer:null, // 刷新计时器对象
                        num:0,      // 当前刷新总数
                        start:false // 是否开始
                    }
                    this.dialogVisibleAdd = true
                },
                // 确定添加
                handleConfirmClick(){
                    if(this.inputObj.url.length<=0){
                        this.$notify.error({ title: '错误', message: '请输入至少一个URL' })
                        return
                    }

                    this.formArr.push(this.inputObj)
                    this.dialogVisibleAdd = false
                    this.$notify({ title: '成功',message: '添加成功',type: 'success' })
                },
                
                // 编辑弹框方法
                handleCompileClick(i){
                    if(this.formArr[i].start){
                        this.$notify({ title: '警告', message: '运行中，无法操作', type: 'warning' })
                        return
                    }

                    this.compileIdx = i
                    this.compileObj = Object.assign({},this.formArr[i])
                    this.dialogVisibleCompile = true
                },
                // 编辑保存
                handleSaveClick(){
                    if(this.compileObj.url.length<=0){
                        this.$notify.error({ title: '错误', message: '请输入至少一个URL' })
                        return
                    }

                    this.formArr[this.compileIdx] = this.compileObj
                    this.dialogVisibleCompile = false
                    this.$notify({
                        title: '成功',
                        message: '修改成功',
                        type: 'success'
                    })
                },
                
                // 视图弹框展示方法
                handleViewClick(i){
                    this.formArr[i].bool = true
                },

                // 删除启动项
                handleDeleteClick(i){
                    if(this.formArr[i].start){
                        this.$notify({ title: '警告', message: '运行中，无法操作', type: 'warning' })
                        return
                    }

                    this.$confirm('此操作将永久删除该启动项, 是否继续?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消',
                        type: 'warning'
                    }).then(() => {
                        this.formArr.splice(i,1)
                        this.$notify({ title: '成功',message: '删除成功',type: 'success' })
                    }).catch(() => {
                        this.$notify.info({ title: '取消',message: '取消删除' })     
                    })
                },

                // 开关方法
                handleSwitchClick(i){
                    if(this.formArr[i].start){
                        this.formArr[i].start = false
                        this.onEnd(i)
                    }else{
                        this.formArr[i].start = true
                        this.onStart(i)
                    }
                },
                
                // 帮助提示
                handleHelpClick(){
                },

                // 开始方法
                onStart(i){
                    this.formArr[i].start = true
                    clearInterval(this.formArr[i].timer)
                    this.formArr[i].num = 0

                    if(this.formArr[i].type==1){
                        this.formArr[i].timer = setInterval(()=>{
                            this.redraw(i)
                            this.formArr[i].num++
                        },this.formArr[i].time)
                    }
                    if(this.formArr[i].type==2){
                        this.formArr[i].timer = setInterval(()=>{
                            if(this.formArr[i].num==this.formArr[i].value){
                                this.onEnd(i)
                                return
                            }
                            this.redraw(i)
                            this.formArr[i].num++
                        },this.formArr[i].time)
                    }
                    
                },
                // 结束方法
                onEnd(i){
                    clearInterval(this.formArr[i].timer)
                    this.formArr[i].start = false
                },
                // 刷新函数
                redraw(i){
                    let iframe = document.querySelectorAll(`.iframe-no${i}`)
                    for(let j=0;j<iframe.length;j++){
                        iframe[j].src = this.formArr[i].url[j]
                    }
                },
            },
            mounted(){
                // loadingInstance.close()
                setTimeout(()=>{
                    this.overFun()
                    this.leaveFun()
                },500)
            }
        })
    </script>
</body>
</html>